.breadcrumb-container {
	padding-top: 0;
	.breadcrumb-item  {
		font-size: 12px;
		letter-spacing:1px;
		a {
			font-weight: bold;
			color:$green;
			transition: all 0.3s ease;
			&:hover {
				color:$turq;
			}
		}
		span {
			font-weight: bold;
			color:#000;
		}
		&.is-active {
	
			&::after {
				content: '';
			}

			
		}
		&::after {
			content: '›';
			padding-right: 4px;
			padding-left: 3px;
			color:$green;
		}

	}
}
