
/*======== The Whole Thing ======================================================*/
.country-warning-message {
	background-color: rgba(85,0,0,.8);
	width:50%;
	position: fixed;
	width: 500px;
	height: 130px;
	top: 50%;
	left: 50%;
	margin-top: -100px; /* Negative half of height. */
	margin-left: -250px;
	transition: all 0.3s ease;
	.icon-close {
		position: absolute;
		right: 20px;
		color:#fff;
		top: 50%;
		transform: translateY(-50%);
		font-size: 13px;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			color: #000;
		}
	}



	/*======== 'Looks like' area ==================================================*/
	span {

		color: #fff;
		font-size: 20px;
		display: block;
		text-align: center;
		/*======== Link =========================================================*/
		a {
			color:#fff;
			text-decoration: underline;
		}
	}

	.close {
		color:white;
		font-size: 30px;
	}

	.close:hover {
		color: grey;
		cursor: pointer;
	}

/*===============================================================================*/

	/*
	.sticky-warning-message & {
		position: fixed;
		top: 0;
		z-index: 100;
		width: 100%;
		opacity: 0;
	}
	*/


	/*
	&.fade-in {
		transition: all 0.3s ease;
		opacity: 1;
	}
	*/

}

