{{inject 'carouselDelay' carousel.swap_frequency}}
{{inject 'youTubeUrl' theme_settings.video_slide_url}}
{{inject 'youTubePoster' theme_settings.video_slide_poster}}

<section class="layout-block carousel-wrap {{#if theme_settings.homepage_carousel_width '===' 'slide-fullwidth'}}slide-fullwidth{{else}}slide-fixed{{/if}}">
  <section class="carousel {{#if theme_settings.homepage_carousel_transition '===' 'slide-transition'}} slide-transition{{else}} fade-transition{{/if}}">
    <div class="carousel-slides" data-carousel-slides>

    {{#if theme_settings.video_slide_url}}
        <figure class="carousel-item video-slide">
          <div class="vid">
            <div class="vid-container">
              <div class="poster fade-in is-paused">
              </div>
              <div id="player"></div>       
            </div>
          </div>
          <figcaption class="carousel-item-info">
                      
              <div class="carousel-item-info-container">
                <div class="carousel-item-info-align">
                    {{#if theme_settings.video_slide_heading}}
                      <h2 class="carousel-item-heading" style="color:{{theme_settings.carousel-color}}">{{theme_settings.video_slide_heading}}</h2>
                    {{/if}}
                    {{#if theme_settings.video_slide_text}}
                      <p class="carousel-item-text" style="color:{{theme_settings.carousel-color}}">{{theme_settings.video_slide_text}}</p>
                    {{/if}}
                    {{#if theme_settings.video_slide_button_text}}
                      <a class="carousel-item-button button" href="{{theme_settings.video_slide_button_url}}">{{theme_settings.video_slide_button_text}}</a>
                    {{/if}}
                </div>
              </div>
            
          </figcaption>
        </figure>
      {{/if}}

      {{#each carousel.slides}}

          <figure class="carousel-item" data-index="{{theme_settings.video_slide_position}}">
            <a class="carousel-item-image" href="{{url}}">
              <img src="{{this.image}}" alt="{{{alt_text}}}" />
            </a>
            <figcaption class="carousel-item-info">
              {{#unless button_text}}{{#if url}}
                <a class="carousel-item-link" href="{{url}}">
              {{/if}}{{/unless}}
                <div class="carousel-item-info-container">
                  <div class="carousel-item-info-align">
                    {{#if heading}}
                      <h2 class="carousel-item-heading" style="color:{{../theme_settings.carousel-color}};">{{{heading}}}</h2>
                    {{/if}}
                    {{#if text}}
                      <p class="carousel-item-text" style="color:{{../theme_settings.carousel-color}}">{{{text}}}</p>
                    {{/if}}
                    {{#if button_text}}
                      <a class="carousel-item-button button" {{#if url}}href="{{url}}"{{/if}}>{{{button_text}}}</a>
                    {{/if}}
                  </div>
                </div>
              {{#unless button_text}}{{#if url}}
                </a>
              {{/if}}{{/unless}}
            </figcaption>
          </figure>
        

      {{/each}}
    </div>

    {{#if carousel.slides.length "<" 2}}
      <style>
          .flickity-page-dots {
            display: none;
          }
      </style>
    {{/if}}

    {{#if carousel.slides.length ">" 1}}
      <div class="carousel-navigation">
        <div data-carousel-nav-item>
          <span class="carousel-navigation-item carousel-previous" data-carousel-pagination="prev">
            <i class="icon-arrow-left"></i>
          </span>
        </div>

        <div data-carousel-nav-item>
          <span class="icon carousel-navigation-item carousel-next" data-carousel-pagination="next">
            <i class="icon-arrow-right"></i>
          </span>
        </div>
      </div>
    {{/if}}
  </section>
  <!-- Adding checker to local storage for pop up and removing  -->
  <!-- Change to Session -->
  <script>
    function closeFunction() {
        alert("I am going to close");
        document.getElementById("popthisup").remove();
        localStorage.setItem("removed", true);
    }




    function func1() {
      if (localStorage.getItem("homeCheck") === null) {
          localStorage.setItem("homeCheck", true);
          console.log("aaaaaa");
      }
    }


    function func2() {
    if ((localStorage.getItem("homeCheck") !== null) && (localStorage.getItem("removed") !== null)) {
          document.getElementById("popthisup").remove();
          console.log("bbbbb");
      }
    }

   function start() {
    func1();
    func2();
  }
  window.onload = start;


  </script>
</section>
