{{#partial "page"}}

  <header class="sub-header">
    {{> components/common/breadcrumbs breadcrumbs}}
  </header>

  <section class="layout-block">

    <div class="page-header">
      <h1 class="page-title centered">{{lang 'core.unavailable.hibernation_heading'}}</h1>
    </div>

    <div class="page-container">
      <div class="page-content">
        {{> components/alerts/alert-error (lang 'core.unavailable.hibernation_message')}}
      </div>
    </div>

  </section>

{{/partial}}

{{> core/unavailable/layout}}
