<section class="home-block home-charity-callout">

  <div class="home-charity-callout--container product-grid-container">
    
  		<h2 class="section-title">SANTEVIA GIVES BACK</h2>

        <p>Giving back to the community has been an important part of the Santevia mission since day one. That’s why Santevia donates 5% of profits to help people around the world including two orphanages in Thailand, a school in Bangladesh, water projects in Africa and Haiti, and a farming project at an orphanage in Indonesia. Santevia also supports a number of projects at home, including the Canadian Mental Health Association, Inspire Health, and local youth sports organizations.</p>

        <a href="/gives-back/" class="btn white">LEARN MORE</a>

    
  </div>

</section>
