<section class="home-block grey home-shop-callout">

  <h2 class="section-title">SANTEVIA ALKALINE WATER FILTRATION SYSTEMS RESTORES...</h2>

  <div class="home-shop-callout--container product-grid-container">
    
      	<div class="slider">
        
			<div class="item">
				<img src="{{cdn '/assets/icons/Icons_Water.svg'}}" />
				<h3>Water to Its Natural State</h3>
			</div>
			<div class="item">
				<img src="{{cdn '/assets/icons/Icons_Balance.svg'}}" />
				<h3>Alkaline Body Balance</h3>
			</div>
			<div class="item">
				<img src="{{cdn '/assets/icons/Icons_Health.svg'}}" />
				<h3>Health</h3>
			</div>
			<div class="item">
				<img src="{{cdn '/assets/icons/Icons_Planet.svg'}}" />
				<h3>The Planet</h3>
			</div>
			<div class="item">
				<img src="{{cdn '/assets/icons/Icons_Minerals.svg'}}" />
				<h3>Minerals to your water</h3>
			</div>

        </div>
        <div class="descriptions">
			<span class="desc" data-content="0">
				<p>With Santevia, you can enjoy water in its purest form. By echoing the earth’s natural mineral filtration, Santevia restores tap water to the composition nature intended. It also reduces common tap water ingredients you don’t want, like heavy metals and industrial chemicals, leaving you with healthy, great tasting water.</p>
			</span>
			<span class="desc" data-content="1">
				<p>Your body requires an optimal pH level to function properly, and works hard to balance acid and alkaline to maintain it. The average diet today has a more acidic pH level, which can lead to inflammation and illness. Santevia infuses your water with nourishing alkaline minerals, which helps restore your pH balance.</p>
			</span>
			<span class="desc" data-content="2">
				<p>A balanced body recovers from illness faster, stays healthy, and performs more efficiently. Santevia Alkaline Water supports a healthy pH balance–that’s why it’s a popular choice for fitness buffs, athletes and people suffering from chronic illness. It’s also great for anti-aging, supporting immune function, and maintaining a healthy lifestyle.</p>
			</span>
			<span class="desc" data-content="3">
				<p>One Santevia Alkaline Water System can eliminate up to 14,600 single-use plastic bottles every year. With a Santevia system in your home, you have a constant source of clean, mineralized, alkaline water. When you’re on-the-go, just fill up a BPA-free water bottle like our Santevia Tritan Water Bottle. You’ll be saving money, and saving the planet!</p>
			</span>
			<span class="desc" data-content="4">
				<p>Santevia adds calcium, magnesium, and other beneficial minerals normally filtered out of your tap water. The result: water that’s just as healthy as the mineral spring water you find in stores, but without the premium price or plastic waste.</p>
			</span>
        </div>

        <a href="/all-products/" class="btn green">SHOP NOW</a>

    
  </div>

</section>
