<section class="home-block home-testimonial">

    <h3 class="section-title2">TESTIMONIALS</h3>

    <div class="home-testimonial--container product-grid-container">

        <div class="slider">

            <div class="item">
                <img src="{{cdn '/assets/img/sharisse.png'}}" />
                <h3>Sharisse Dalby</h3>
                <h4>Registered Nutritional Counsellor</h4>
            </div>

            <div class="item">
                <img src="{{cdn '/assets/img/myriam.png'}}" />
                <h3>Myriam Laroche</h3>
                <h4>Eco Fashion Week founder and president </h4>
            </div>

            <div class="item">
                <img src="{{cdn '/assets/img/saschie.png'}}" />
                <h3>Saschie MacLean</h3>
                <h4>Co-founder of RSVP 33 Dance Studio</h4>
            </div>

            <div class="item">
                <img src="{{cdn '/assets/img/lucas.png'}}" />
                <h3>Lucas Patriquin</h3>
                <h4>Force Pro. Fitness Trainer</h4>
            </div>

            <div class="item">
                <img src="{{cdn '/assets/img/jollia.png'}}" />
                <h3>Jollia Fung</h3>
                <h4>Karmabitez Founder</h4>
            </div>

        </div>
        <div class="descriptions">

            <span class="desc" data-content="0">
                <p><i>"I prefer the Santevia products over other products. Because what other products do is they filter out the bad stuff but what the Santevia’s one does is it filters out the bad stuff but it also adds in the good stuff.  Where our water gets all the minerals taken out Santevia adds that back in. And that's really important for your overall health, for your bones, your tissues, your organs. They all need those minerals. So if you can get it through your water that's a really important way to support your system and to make sure you stay in an alkaline state."</i></p>
			</span>

            <span class="desc" data-content="1">
                <p><i>"I have the Pitcher at home and I have the water stick. I use them both.
The pitcher is always on my counter and I like the room temperature water.
And the stick is the other option on the go. And you can carry it in your purse. It's always there. It’s always available.
And it's crazy, we think that water doesn't taste anything. But when you try the alkaline water, you realize, wow, this is so pure. And it shows in your skin and very fast."</i></p>
			</span>

			<span class="desc" data-content="2">
                <p><i>“I use the Santevia Alkaline Pitcher at home.I would recommend this Santevia pitcher for anyone at home. It's really easy to use and it maximizes the benefits of drinking water already. So if you have that habit it just enriches the benefits for you and your wellness.I find the taste of the water from the alkaline pitcher to be very refreshing, delicious.There's not anything prominent in it. It just makes drinking water really easy.”</i></p>
			</span>

            <span class="desc" data-content="3">
                <p><i>"I really like the countertop system because it holds a large amount of water. I use it for making coffee,  filling out my water bottle for the day. I find the water quality is just a lot better overall. And for anyone else looking to better their life or to make improvements… They're going to want to increase their water intake and Santevia allows you to do this with a better tasting chemical free water. So I would recommend it to anyone who is looking to improve their lifestyle."</i></p>
			</span>

            <span class="desc" data-content="4">
                <p><i>"The reason I love Santevia products so much is because I found that the water from Santevia filtration system…it makes my cooking taste better, my baking taste better. It makes drinking water more enjoyable! I would recommend Santevia products to anyone. Anyone  who values the health of the body, anyone who cares about sustainability and an eco-friendly environment."</i></p>
			</span>

        </div>



    </div>

</section>
